.main {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #3a3a3a;
    min-height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main .name{
    border-bottom: .5px solid #3a3a3a;
}