<main>
  <nav>
    <p><span class="bold">World</span>Explorer</p>
    <a routerLink="/home">HOME</a>
    <a routerLink="/tours">Tours</a>
    <a routerLink="/addTour">Add Tour</a>
    <a class="cart-a" routerLink="/cart"><mat-icon>shopping_cart</mat-icon><div class="cart-widget" [ngClass]="{'cart-fuuul': summary > 9}">{{ summary }}</div></a>
    <mat-form-field>
      <mat-select [(value)]="new_currency" (selectionChange)="updateCurrency()">
        <mat-option value="PLN">PLN</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
  </nav>
  <section class="outlet">
    <router-outlet></router-outlet>
  </section>
  <footer>
    <div class="left-side">
      <p class="copy">WorldExplorer &copy; 2023</p>
      <div class="contact">
        <p>phone: +48 937 657 268</p>
        <p>email: world.explorer.contact&#64;gmail.com</p>
        <p>ul. WorldExplorer 1, 21-037 Warsaw, Poland</p>
      </div>
    </div>
    <div class="map-footer">
      <google-map [options]="mapOptions"></google-map>
    </div>
  </footer>
</main>

