form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}
mat-form-field {
    width: 90%;
}

input.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-inner-spin-button {
  display: none;
}




