<h1>Add New Tour</h1>
<form (submit)="addTour()">
    <mat-form-field>
        <input matInput type="text" placeholder="Name" name="tour.name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Description" name="tour.description" [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Country" name="tour.destination" [(ngModel)]="destination">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Image Url" name="tour.imageUrl" [(ngModel)]="imageUrl">
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Price {{ currency.name }}</mat-label>
        <input class="example-right-align" matInput min="0" type="number" name="tour.price" [(ngModel)]="price">
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Max People</mat-label>
        <input class="example-right-align" matInput min="0" type="number" name="tour.maxPeople" [(ngModel)]="maxPeople">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput 
            [matDatepicker]="pickerstart"
            [matDatepickerFilter]="filterDate"
            name="tour.startDate"
            [(ngModel)]="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="pickerstart"></mat-datepicker-toggle>
        <mat-datepicker #pickerstart></mat-datepicker>
    </mat-form-field>  
    <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput 
            [matDatepicker]="picker"
            [matDatepickerFilter]="filterDate"
            name="tour.endDate"
            [(ngModel)]="endDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>   
    
    <button type="submit" mat-flat-button color="primary">
        Add Tour
    </button>
</form>
