<div class="container">
    <h1>Tours</h1>
    <div class="list-of-tours">
        <div class="tour" *ngFor="let tour of tours">
            <button id="delete" mat-icon-button (click)="deleteTour(tour)">
                <mat-icon>delete</mat-icon>
            </button>

            <img src="{{tour.imageUrl}}" alt="image">
            <div class="tour-info">
                <h2>{{tour.name}}</h2>
                <p>{{tour.description}}</p>
                <p>price: {{tour.price}}</p>
                <p>available spots: {{tour.freeSpots}} </p>
                <div class="buttons">
                    <button [ngClass]="{'disabled': tour.freeSpots == 0}" mat-icon-button (click)="addToCart(tour)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button [ngClass]="{'disabled': tour.freeSpots == tour.maxPeople}" mat-icon-button (click)="removeFromCart(tour)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
    
</div>