.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.star{
    color: rgb(255, 218, 9);
}

.show-map{
   display: block;
}

.sector{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}


.left img{
    height: 350px;
    width: 80vw;
    object-fit: cover;
}

p{
    margin: 8px 0;
}

.right{
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

.map{
    width: 100%;
    display: none;
}

google-map .map-container{
    width: 100% !important;
    height: 200px !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.room{
    display: none;
    color: red;
}

.little-room{
    color: red;
}

.no-room{
    display: block;
}

.back-arrow{
    margin: 10px 0 10px 30px;
    cursor: pointer;
}

app-reviews {
    width: 98vw;
}

@media screen and (max-width: 890px) {
    .right{
        padding-left: 2px;
        width: 90vw;
    }
    .left img{
        object-fit: cover;
        aspect-ratio: 3/1;
        height: 300px;
        width: 100%;
    }

}