<a (click)="goBack()"><mat-icon class="back-arrow">keyboard_return</mat-icon></a>
<div class="main-container">
    <div class="left sector">
        <img [src]="tour.imageUrl">
    </div>
    <div class="right sector">
        <h3>{{tour.name}}</h3>
        <p><mat-icon class="star">star</mat-icon>{{tourRating.avgRating}}</p>
        <p>{{tour.startDate | date:'dd/MM/yyyy'}} - {{tour.endDate | date:'dd/MM/yyyy'}}</p>
        <p>{{tour.description}}</p>
        <p>{{tour.destination}}</p>
        <h3>Price: {{tour.price}} PLN</h3>
        <div class="buttons">
            <button [ngClass]="{'disabled': tour.freeSpots == 0, 'little-room': tour.freeSpots < 4}" mat-icon-button (click)="addToCart(tour)">
                <mat-icon>add</mat-icon>
            </button>
            <button [ngClass]="{'disabled': tour.freeSpots == tour.maxPeople}" mat-icon-button (click)="removeFromCart(tour)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        <!-- <div id="map" class="map" [ngClass]="{'show-map': mapReady==true}">
            <google-map [options]="mapOptions"></google-map>
        </div> -->
    </div>
</div>
<app-reviews></app-reviews>
